.teamBox{
    font-size: 1vw;
    border-style: solid;
    border-color: #a5d2ea;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.teamBox:hover{
    border-color: #2876a1;
}

.myButton{
    background-color: #1f5774 !important;
    font-size: 1.5vw
}
.myButton:hover{
    background-color: #12415a !important;
}

* {
    box-sizing: border-box;
}

*{margin:0; padding:0;}

html, body, #root {
    height:100%;
    background: #e5e5e5;
    margin: 0;
    padding: 0;
    overflow: auto;
}

h1 {
    font-weight: 200;
    color: #282c34;
    font-size: 20px;
}

.app {
    white-space: nowrap;
    height: 100%;
}



